.main-nav {
  align-self: center;

  @media (max-width: $vp-mobile) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    padding: 20px 0 20px 30px;

    gap: 33px;

    align-items: center;

    max-height: 95vh;
    overflow-y: auto;
  }
}

.main-nav button {
  display: none;

  @media (max-width: $vp-mobile) {
    display: block;

    padding: 0;
    margin: 0;
    background: none;
    border: none;

    width: 13px;
    height: 13px;

    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";

      width: 2px;
      height: 19.5px;

      right: 50%;
      top: 0;

      background-color: $color-tangaroa;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.main-nav__logo {
  display: none;

  @media (max-width: $vp-mobile) {
    display: block;
  }
}

.main-nav__list {
  @media (max-width: $vp-mobile) {
    width: 100%;
  }
}

.main-nav button[data-toggler="is-hidden"] {
  display: none;
}

.main-nav button[data-toggler="is-open"] {
  @media (max-width: $vp-mobile) {
    display: block;
  }
}

.main-nav button[data-toggler="is-closed"] {
  @media (max-width: $vp-mobile) {
    width: 12px;
    height: 24px;

    &::before {
      height: 2px;
      width: 24px;

      top: 50%;
      right: 0;
      transform: rotate(0);

      background-color: $color-alice-blue;
      box-shadow: 0 6px 0 0 $color-alice-blue, 0 -6px 0 0 $color-alice-blue;
    }

    &::after {
      display: none;
    }
  }
}

.main-nav__logo[data-nav-logo="is-hidden"] {
  @media (max-width: $vp-mobile) {
    display: none;
  }
}

.main-nav__list[data-list="is-hidden"] {
  @media (max-width: $vp-mobile) {
    display: none;
  }
}
