.social {
  min-width: 117px;

  @media (max-width: $vp-tablet) {
    min-width: 87px;
  }

  @media (max-width: $vp-mobile) {
    min-width: none;
    margin-top: 5px;
  }
}

.social__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.social__item {
  margin-right: 33px;
  margin-bottom: 5px;
  margin-top: 5px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $vp-tablet) {
    margin-right: 23px;
  }

  @media (max-width: $vp-mobile) {
    margin-top: 0;
  }
}

.social__link {
  &:hover,
  &:active {
    opacity: 0.8;
  }

  &--first svg {
    @media (max-width: $vp-tablet) {
      width: 9px;
      height: 16px;
    }
  }

  &--second svg {
    @media (max-width: $vp-tablet) {
      width: 16px;
      height: 16px;
    }
  }

  &--third svg {
    @media (max-width: $vp-tablet) {
      width: 16px;
      height: 13px;
    }
  }
}
