// Colors
// ---------------------------------

// Default

$color-default-white:               #ffffff;

// Project palette
// для нейминга цветов используется https://www.htmlcsscolor.com/hex/334482

$color-tangaroa: #011c40;
$color-tangaroa-opacity: #011c40b3;
$color-alice-blue: #f9fbfd;
$color-quartz: #d8d8d9;
$color-dodger-blue: #3299fa;
$color-prussian-blue-opacity: #002b6680;
$color-solitude: #e3ecf6;
$color-free-speech-red: #cc0000;

// Viewports
// ---------------------------------

$vp-mobile: 767px;
$vp-tablet: 1023px;
$vp-desktop-only: 1024px;
$vp-1365: 1365px;

// Retina
// ---------------------------------

$retina-dppx: 2dppx;
