// Colors
// ---------------------------------

// Default

$color-default-white:               #ffffff;

// Project palette
// для нейминга цветов используется https://www.htmlcsscolor.com/hex/334482

$color-tangaroa: #011C40;
$color-tangaroa-opacity: #011c40b3;
$color-alice-blue: #F9FBFD;
$color-quartz: #D8D8D9;
$color-dodger-blue: #3299FA;
$color-prussian-blue-opacity: #002b6680;
$color-solitude: #E3ECF6;
$color-free-speech-red: #CC0000;

// Viewports
// ---------------------------------

$vp-mobile: 767px;
$vp-tablet: 1365px;
$vp-desktop-only: 1366px;

// Retina
// ---------------------------------

$retina-dppx: 2dppx;
